.introduction-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.introduction-container > div {
    width: 60%;
}
