header {
    padding-bottom: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header > div {
    display: flex;
    align-items: center;

}

header > div > h1 {
    padding-left: 10px;

}

header > div > img {
    padding-left: 10px;
    min-width: 40px;
    width: 60px;
    height: auto;
    border-radius: 50%;
}

header > nav > ul{
    display: flex;
    list-style: none;
}

header > nav > ul > li{
    padding: 10px;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}
a:hover {
color: grey;
}

